openapi: 3.0.1
info:
  title: MarketMan API V3 Accounts Recipes API
  description: 'MarketMan provides a JSON REST API for integration with third-party applications such as accounting, ERP, e-commerce, and self-service portals. The V3 API exposes separate Buyer and Vendor surfaces for inventory, items, vendors, purchase orders, invoices/docs, deliveries, recipes/menu costing, POS sales, and webhooks. All operations are HTTP POST that accept and return JSON. Authentication is token-based: call /v3/buyers/auth/GetToken (or the vendor equivalent) with an APIKey and APIPassword to obtain a Token, then send that token on every subsequent request in the AUTH_TOKEN header. Endpoints, request fields, and response shapes here reflect the publicly published MarketMan API V3 Postman documentation; field-level detail not documented publicly is left unconstrained.'
  termsOfService: https://www.marketman.com/
  contact:
    name: MarketMan
    url: https://www.marketman.com/
  version: '3.0'
servers:
- url: https://api.marketman.com/v3
  description: MarketMan API V3 production base URL
security:
- AuthToken: []
tags:
- name: Recipes
  description: Menu items, availability, and menu profitability.
paths:
  /buyers/inventory/GetMenuItems:
    post:
      operationId: getMenuItems
      tags:
      - Recipes
      summary: Get menu items (recipes)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetMenuItemsRequest'
      responses:
        '200':
          description: Menu items.
          content:
            application/json:
              schema:
                type: object
  /buyers/inventory/GetMenuItemsAvailability:
    post:
      operationId: getMenuItemsAvailability
      tags:
      - Recipes
      summary: Get menu item availability
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuyerRequest'
      responses:
        '200':
          description: Menu item availability.
          content:
            application/json:
              schema:
                type: object
  /buyers/inventory/GetMenuProfitability:
    post:
      operationId: getMenuProfitability
      tags:
      - Recipes
      summary: Get menu profitability report
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuyerRequest'
      responses:
        '200':
          description: Menu profitability data.
          content:
            application/json:
              schema:
                type: object
components:
  schemas:
    BuyerRequest:
      type: object
      required:
      - BuyerGuid
      properties:
        BuyerGuid:
          type: string
          description: GUID identifying the buyer account to operate on.
    GetMenuItemsRequest:
      allOf:
      - $ref: '#/components/schemas/BuyerRequest'
      - type: object
        properties:
          GetDeleted:
            type: boolean
          itemIDs:
            type: array
            items:
              type: string
            nullable: true
  securitySchemes:
    AuthToken:
      type: apiKey
      in: header
      name: AUTH_TOKEN
      description: Access token returned by GetToken, sent on every authenticated request in the AUTH_TOKEN header.
