openapi: 3.0.1
info:
  title: MarketMan API V3 Accounts Items API
  description: 'MarketMan provides a JSON REST API for integration with third-party applications such as accounting, ERP, e-commerce, and self-service portals. The V3 API exposes separate Buyer and Vendor surfaces for inventory, items, vendors, purchase orders, invoices/docs, deliveries, recipes/menu costing, POS sales, and webhooks. All operations are HTTP POST that accept and return JSON. Authentication is token-based: call /v3/buyers/auth/GetToken (or the vendor equivalent) with an APIKey and APIPassword to obtain a Token, then send that token on every subsequent request in the AUTH_TOKEN header. Endpoints, request fields, and response shapes here reflect the publicly published MarketMan API V3 Postman documentation; field-level detail not documented publicly is left unconstrained.'
  termsOfService: https://www.marketman.com/
  contact:
    name: MarketMan
    url: https://www.marketman.com/
  version: '3.0'
servers:
- url: https://api.marketman.com/v3
  description: MarketMan API V3 production base URL
security:
- AuthToken: []
tags:
- name: Items
  description: Vendors connected to a buyer account.
paths:
  /buyers/items/GetVendors:
    post:
      operationId: getVendors
      tags:
      - Items
      summary: Get vendors connected to a buyer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuyerRequest'
      responses:
        '200':
          description: Vendors connected to the buyer account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorsResponse'
components:
  schemas:
    VendorsResponse:
      type: object
      properties:
        Vendors:
          type: array
          items:
            type: object
        IsSuccess:
          type: boolean
    BuyerRequest:
      type: object
      required:
      - BuyerGuid
      properties:
        BuyerGuid:
          type: string
          description: GUID identifying the buyer account to operate on.
  securitySchemes:
    AuthToken:
      type: apiKey
      in: header
      name: AUTH_TOKEN
      description: Access token returned by GetToken, sent on every authenticated request in the AUTH_TOKEN header.
