openapi: 3.2.0
info:
  title: MarketMan API V3 Items API
  description: MarketMan provides a JSON REST API for integration with third-party applications such as accounting, ERP, e-commerce, and self-service portals.
  termsOfService: https://www.marketman.com/
  contact:
    name: MarketMan
    url: https://www.marketman.com/
  version: '3.0'
servers:
- url: https://api.marketman.com/v3
  description: MarketMan API V3 production base URL
security:
- AuthToken: []
tags:
- name: Items
  description: Vendors connected to a buyer account.
paths:
  /buyers/items/GetVendors:
    post:
      operationId: getVendors
      tags:
      - Items
      summary: Get vendors connected to a buyer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuyerRequest'
      responses:
        '200':
          description: Vendors connected to the buyer account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorsResponse'
components:
  schemas:
    BuyerRequest:
      type: object
      required:
      - BuyerGuid
      properties:
        BuyerGuid:
          type: string
          description: GUID identifying the buyer account to operate on.
    VendorsResponse:
      type: object
      properties:
        Vendors:
          type: array
          items:
            type: object
        IsSuccess:
          type: boolean
  securitySchemes:
    AuthToken:
      type: apiKey
      in: header
      name: AUTH_TOKEN
      description: Access token returned by GetToken, sent on every authenticated request in the AUTH_TOKEN header.
