openapi: 3.2.0
info:
  title: MarketMan API V3 Inventory API
  description: MarketMan provides a JSON REST API for integration with third-party applications such as accounting, ERP, e-commerce, and self-service portals.
  termsOfService: https://www.marketman.com/
  contact:
    name: MarketMan
    url: https://www.marketman.com/
  version: '3.0'
servers:
- url: https://api.marketman.com/v3
  description: MarketMan API V3 production base URL
security:
- AuthToken: []
tags:
- name: Inventory
  description: Inventory items, counts, transfers, waste, and UOM types.
paths:
  /buyers/inventory/GetItems:
    post:
      operationId: getItems
      tags:
      - Inventory
      summary: Get catalog/inventory items
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetItemsRequest'
      responses:
        '200':
          description: Inventory items.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryItemsResponse'
  /buyers/inventory/GetInventoryItems:
    post:
      operationId: getInventoryItems
      tags:
      - Inventory
      summary: Get inventory items for a buyer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuyerRequest'
      responses:
        '200':
          description: Inventory items.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryItemsResponse'
  /buyers/inventory/SetInventoryCount:
    post:
      operationId: setInventoryCount
      tags:
      - Inventory
      summary: Submit an inventory count
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuyerRequest'
      responses:
        '200':
          description: Result of the count submission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /buyers/inventory/GetUOMTypes:
    post:
      operationId: getUOMTypes
      tags:
      - Inventory
      summary: Get units of measure
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuyerRequest'
      responses:
        '200':
          description: Units of measure.
          content:
            application/json:
              schema:
                type: object
components:
  schemas:
    GenericResponse:
      type: object
      properties:
        IsSuccess:
          type: boolean
        ErrorMessage:
          type:
          - string
          - 'null'
    InventoryItemsResponse:
      type: object
      properties:
        InventoryItems:
          type: array
          items:
            type: object
        IsSuccess:
          type: boolean
    BuyerRequest:
      type: object
      required:
      - BuyerGuid
      properties:
        BuyerGuid:
          type: string
          description: GUID identifying the buyer account to operate on.
    GetItemsRequest:
      allOf:
      - $ref: '#/components/schemas/BuyerRequest'
      - type: object
        properties:
          itemIDs:
            type:
            - array
            - 'null'
            items:
              type: string
          Take:
            type: integer
          Skip:
            type: integer
  securitySchemes:
    AuthToken:
      type: apiKey
      in: header
      name: AUTH_TOKEN
      description: Access token returned by GetToken, sent on every authenticated request in the AUTH_TOKEN header.
