openapi: 3.2.0
info:
  title: MarketMan API V3 Recipes API
  description: MarketMan provides a JSON REST API for integration with third-party applications such as accounting, ERP, e-commerce, and self-service portals.
  termsOfService: https://www.marketman.com/
  contact:
    name: MarketMan
    url: https://www.marketman.com/
  version: '3.0'
servers:
- url: https://api.marketman.com/v3
  description: MarketMan API V3 production base URL
security:
- AuthToken: []
tags:
- name: Recipes
  description: Menu items, availability, and menu profitability.
paths:
  /buyers/inventory/GetMenuItems:
    post:
      operationId: getMenuItems
      tags:
      - Recipes
      summary: Get menu items (recipes)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetMenuItemsRequest'
      responses:
        '200':
          description: Menu items.
          content:
            application/json:
              schema:
                type: object
  /buyers/inventory/GetMenuItemsAvailability:
    post:
      operationId: getMenuItemsAvailability
      tags:
      - Recipes
      summary: Get menu item availability
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuyerRequest'
      responses:
        '200':
          description: Menu item availability.
          content:
            application/json:
              schema:
                type: object
  /buyers/inventory/GetMenuProfitability:
    post:
      operationId: getMenuProfitability
      tags:
      - Recipes
      summary: Get menu profitability report
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuyerRequest'
      responses:
        '200':
          description: Menu profitability data.
          content:
            application/json:
              schema:
                type: object
components:
  schemas:
    GetMenuItemsRequest:
      allOf:
      - $ref: '#/components/schemas/BuyerRequest'
      - type: object
        properties:
          GetDeleted:
            type: boolean
          itemIDs:
            type:
            - array
            - 'null'
            items:
              type: string
    BuyerRequest:
      type: object
      required:
      - BuyerGuid
      properties:
        BuyerGuid:
          type: string
          description: GUID identifying the buyer account to operate on.
  securitySchemes:
    AuthToken:
      type: apiKey
      in: header
      name: AUTH_TOKEN
      description: Access token returned by GetToken, sent on every authenticated request in the AUTH_TOKEN header.
