openapi: 3.2.0
info:
  title: MarketMan API V3 Accounts API
  description: MarketMan provides a JSON REST API for integration with third-party applications such as accounting, ERP, e-commerce, and self-service portals.
  termsOfService: https://www.marketman.com/
  contact:
    name: MarketMan
    url: https://www.marketman.com/
  version: '3.0'
servers:
- url: https://api.marketman.com/v3
  description: MarketMan API V3 production base URL
security:
- AuthToken: []
tags:
- name: Accounts
  description: Authorised buyer accounts and connected POS systems.
paths:
  /buyers/partneraccounts/GetAuthorisedAccounts:
    post:
      operationId: getAuthorisedAccounts
      tags:
      - Accounts
      summary: List authorised buyer accounts
      description: Returns the buyer accounts (each identified by a Guid) that the authenticated API credentials may operate on.
      responses:
        '200':
          description: Authorised accounts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorisedAccountsResponse'
components:
  schemas:
    AuthorisedAccountsResponse:
      type: object
      properties:
        Buyers:
          type: array
          items:
            type: object
            properties:
              Guid:
                type: string
              Name:
                type: string
        IsSuccess:
          type: boolean
  securitySchemes:
    AuthToken:
      type: apiKey
      in: header
      name: AUTH_TOKEN
      description: Access token returned by GetToken, sent on every authenticated request in the AUTH_TOKEN header.
